.navbar-brand a {
    color: white!important;
    font-weight: bold;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.line {
    background: rgba(0, 0, 0, 0.1);
    height: 1.5px;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.border-trans {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1rem;
}

.dropdown-menu {
    min-width: 10rem !important;
}

.nowrap {
    white-space: nowrap !important;
}

.table .dropdown-menu {
    position: fixed !important;
}
